API/TriSQL/TriSQL/TriSQL.sln
API/TriSQL/TriSQL/TriSQL/TriSQL.tproj
API/TriSQL/TriSQL/TriSQL/bin/*
API/TriSQL/TriSQL/TriSQLApp/TriSQLApp.csproj
API/TriSQL/TriSQL/TriSQLApp/Properties/*
API/TriSQL/TriSQL/TriSQLApp/obj/*
API/TriSQL/TriSQL/TriSQLApp/GraphEngine.lib/*
API/TriSQL/TriSQL/TriSQLApp/bin/*